.title-homepage{
    color: rgb(251, 255, 0);
    
}
.judul{
    text-align: center;
}
.card:hover{
    color:red;
}

.footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 100px;
}

.cinta{
    color: rgb(219, 128, 143);
    text-transform: uppercase;
}

.title404{
    text-align:center;
    font-weight: bolder;
    margin-top: 20%;
}